.footer {
  background-color: var(--accent-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
 
  align-items: baseline;
}
.footer .logo {
  color: #fff;
}
.adress {
  margin-top: 20px;
  font-style: normal;
  line-height: 1.71;
}
.adress-item:not(:last-child) {
  margin-bottom: 9px;
}
.mail {
  transition:color var(--transition);
  color: #ffffff;
&:hover,
&:focus {
  color: var(--focus-color);
}}
.adress-link {
  transition:color var(--transition);
  color: rgba(255, 255, 255, 0.6);
&:hover,
&:focus {
  color: var(--focus-color);
}}

.join {margin-left: 70px;}

.join-title,
.subscribe-title {
  @extend %item-title;
  margin-bottom: 20px;
  color: #ffffff;
}
.join .social-item {
  transition:background-color var(--transition);
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
.join .social-item:hover,
.join .social-item:focus {
  background-color: var(--focus-color);
}
.join .social-icon {
  fill: currentColor;
}
.subscribe {
  margin-left: 93px;
}

.subscribe-label {
  position: relative;
  display: inline-flex;
  align-items: center;
  
  padding: 0 16px;
  width: 358px;
  height: 50px;
  border:  1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}
.email-input {
  background-color: transparent;
  border: none;
  width: 100%;

font-size: 16px;
line-height: 1.25;
display: flex;
align-items: center;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
outline: none;
}
.subscribe-button {
  @extend %btn;
  // width:200px;
  // height: 50px;
  margin-left: 12px;
  padding: 10px 28px;
  
    display: inline-flex;
    gap: 10px;
   justify-content: center;
   
     }

.send-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}