.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}
.header-item {
  padding: 32px 0;
}

.header-link,
.header-contact {
  transition:color var(--transition);
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  

&:hover,
&:focus {
  color: var(--focus-color);
}
}
.header-contacts {
  @extend %grid;
  margin-left: auto;
}
.header-contact {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-color);
}

.header-icon {
  fill: currentColor;
  .header-contact:hover &,
.header-contact:focus & {
  fill: var(--focus-color);
}
}

.current {position: relative;
  color: var(--focus-color);

  &::after {
    position: absolute;
    bottom: 0;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--focus-color);
    border-radius: 2px;
  }
}
