.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
   background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%,   rgba(47, 48, 58, 0.4) 100%),url(../img/img-hero.jpg);
 
  background-color: rgba(47, 48, 58);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  text-align: center;
}

.hero-title {
  margin: 0 auto 30px;
  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-btn {@extend %btn;
  padding: 10px 32px;
}