
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding: 0;
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}
.filter__button {
  transition: background-color var(--transition),
   color var(--transition),
   box-shadow var(--transition) ;
  padding: 6px 22px;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  &.active,
  &:hover,
  &:focus {
  color: #fff;
  background: var(--focus-color);

  box-shadow:  0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
 }
  }

.portfolio-list {
  @extend %grid;
  flex-wrap: wrap;
  padding: 0;
  }
  .portfolio-item {
    width: 370px;
    transition:box-shadow var(--transition);
    display: block;
  &:hover,
  &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      }}



.filter-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-item-description {
 position: relative;
 overflow: hidden;

}
.portfolio-description-text {
  transition: transform var(--transition);
  position: absolute;
  top: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color:  rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-size: 18px;
  line-height: calc(28/18);

.portfolio-item:hover &,
.portfolio-item:focus &{
transform: translateY(-100%);
}}
.portfolio-info {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.portfolio-title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color);
}
