:root {
  --title-text-color: #212121;
  --text-color: #757575;
  --focus-color: #2196f3;
  --accent-background-color: #2f303a;
  --accent-button-color: #188ce8;
  --icon-color: #afb1b8;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  background-color: #ffffff;
}
button {
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
p,
h1,
h2,
h3 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* buttons */
.hero-btn {
  transition: background-color var(--transition) ;
  padding: 10px 32px;

  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--focus-color);
  
}
.hero-btn:hover,
.hero-btn:focus,
.submit-button:focus,
.submit-button:hover {
  background-color: var(--accent-button-color);
}
.filter-button {
  transition: background-color var(--transition),
   color var(--transition),
   box-shadow var(--transition) ;
  padding: 6px 22px;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  
}
.filter-button.active,
.filter-button:hover,
.filter-button:focus {
  color: #fff;
  background: var(--focus-color);

  box-shadow:  0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
 }
/* header */
.header {
  border-bottom: 1px solid #ececec;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-container {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}
.logo-part {
  color: var(--focus-color);
}
.header-list {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}
.header-item {
  padding: 32px 0;
}

.header-link,
.header-contact {
  transition:color var(--transition);
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.header-contacts {
  display: flex;
  gap: 30px;
  margin-left: auto;
}
.header-contact {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-color);
}

.header-icon {
  fill: currentColor;
}
.header-link:hover,
.header-link:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--focus-color);
}
.header-contact:hover .header-icon,
.header-contact:focus .header-icon {
  fill: var(--focus-color);
}
.current {position: relative;
  color: var(--focus-color);
}
.current::after {
  position: absolute;
  bottom: 0;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--focus-color);
  border-radius: 2px;
}
/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
   background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%,   rgba(47, 48, 58, 0.4) 100%),url(../img/img-hero.jpg);
 
  background-color: rgba(47, 48, 58);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  text-align: center;
}

.hero-title {
  margin: 0 auto 30px;
  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
 
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--transition),
  transform var(--transition);
}
.backdrop.is-hidden {
  pointer-events: none;
  transform: scale(0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition),
  visibility var(--transition),
  scale var(--transition),
  transform var(--transition);
}
.modal {position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  width: 528px;
height: 581px;
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
padding: 40px ;
}
.close-button {
  
  position: absolute;
  top: 6px;
  right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  background-color: inherit;
   border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  padding: 0;
}
.close-icon {transition: fill var(--transition);
  }
.close-button:hover .close-icon {
  fill: var(--focus-color);
}
.modal-text {margin-bottom: 12px;
 font-weight: 700;
font-size: 20px;
line-height: calc(23/20);
text-align: center;
color: var(--title-text-color);
}

.modal-item {  
  position: relative;
  margin-bottom: 10px;
  margin-top: 4px;
}

.modal-label {
  display:inline-block;
 font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: var(--text-color);
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
padding-left: 42px;
outline: none;
transition: border-color var(--transition);
}
.modal-input:focus {
  border-color: var(--focus-color);}



.modal-icon {
   position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  transition: fill var(--transition);
}
.modal-item:focus-within .modal-icon {
  fill: var(--focus-color);
 }
  
.textarea {
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border-color var(--transition);
}
.textarea::placeholder
{
border-radius: 4px;
   font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
}
.textarea:focus {
  border-color: var(--focus-color); 
}
.check {
  position: relative;
  display:inline-block;
 margin-left:31px;
 padding-left: 20px;
  

   line-height: 1.71;
color: var(--text-color);
}

.order-condition {
  /* transition: color var(--transition); */
    color: var(--focus-color) ;
}
/* .order-condition:hover {
  color: var(--accent-button-color) ;
} */

.check-icon {position: absolute;
  left: -3px;
  top: 3px;
  transition: fill var(--transition);
  background-color: #fff;
}
.check:focus-within .check-icon {fill: var(--focus-color);
 }
 .check-box::after {
  transition: background-image var(--transition);
 }
.check-input:checked+
.check-box::after {position: absolute;
  top: 3px;
  left: -2px;
  display: inline-block;
 content: '';
  width: 16px;
  height: 15px;
  background-image: url(../img/check-on.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 }

.submit-button {display: block;
  margin: 30px auto 0;
  transition: background-color var(--transition);
  padding: 10px 52px;
  background: var(--focus-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
font-weight: 700;
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.06em;

color: #FFFFFF;
text-align: center;
}
/* Benefits */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.benefits-list,
.products-list {
  display: flex;
  gap: 30px;
}
.thumb {
  margin-bottom: 30px;
  height: 120px;
  padding: 25px 100px;
  background-color: #f5f4fa;
}
.benefits-icon {
  width: 70px;
  height: 70px;
}
.benefits-title,
.product-text,
.join-title, 
 .subscribe-title {
  color: #ffffff;
    font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.benefits-title
 {color: inherit;
  margin-bottom: 10px;}

.benefits-text {
  line-height: 1.71;
  color: var(--text-color);
}
/* Products */
.doing {
  padding-top: 0;
}
.products-item {
  position: relative;
}
.product-text {
  position: absolute;
  bottom: 0;
 
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
   padding: 27px 0;
 
text-align: center;

}

/* Team */
.team-background {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
}
.team-item {
   background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-info {
 
  padding-top: 30px;
  padding-bottom: 30px;

   line-height: 1.19;
  text-align: center;
}
.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
}
.team-text {
  margin-bottom: 16px;
  font-size: 16px;
  color: var(--text-color);
}
.social-list {
    display: flex;
  justify-content: center;
  gap: 10px;
}
.social-item {
  transition:background-color var(--transition);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
   border-radius: 50%;
   color: var(--icon-color);
}
.social-item:hover,
.social-item:focus {
  background-color: var(--focus-color);
  color: #fff;
}

.social-icon {
  display: block;
  width: 20px;
  height: 20px;

   fill: currentColor;
}
/* clients */
.clients-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.client-link {
  transition:color var(--transition),  border-color var(--transition);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
}
.client-icon {
  display: block;
  width: 106px;
  height: 60px;
  fill: currentColor;
}
.client-link:hover,
.client-link:focus {
  color: var(--focus-color);
  border-color: var(--focus-color);
}


/* footer */
.footer {
  background-color: var(--accent-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
 
  align-items: baseline;
}
.footer .logo {
  color: #fff;
}
.adress {
  margin-top: 20px;
  font-style: normal;
  line-height: 1.71;
}
.adress-item:not(:last-child) {
  margin-bottom: 9px;
}
.mail {
  transition:color var(--transition);
  color: #ffffff;
}
.adress-link {
  transition:color var(--transition);
    color: rgba(255, 255, 255, 0.6);
}
.mail:hover,
.mail:focus,
.adress-link:hover,
.adress-link:focus {
  color: var(--focus-color);
}
.join {margin-left: 70px;}
.join-title,
.subscribe-title {
  margin-bottom: 20px;
  color: #ffffff;
}
.join .social-item {
  transition:background-color var(--transition);
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
.join .social-item:hover,
.join .social-item:focus {
  background-color: var(--focus-color);
}
.join .social-icon {
  fill: currentColor;
}
.subscribe {
  margin-left: 93px;
}

.subscribe-label {
  position: relative;
   display: inline-flex;
   align-items: center;
   padding: 0 16px;
  width: 358px;
  height: 50px;
  border:  1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}
.email-input {
  background-color: transparent;
  border: none;
  width: 100%;

  font-size: 16px;
line-height: 1.25;
display: flex;
align-items: center;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
outline: none;
}

.subscribe-button {
  width:200px;
  height: 50px;
  margin-left: 12px;
  padding: 0;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.88;
    display: inline-flex;
    gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
    color: #FFFFFF;}
.send-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}
/* Portfolio */

.portfolio-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding: 0;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding: 0;
  }
  .portfolio-item {
    width: 370px;
    transition:box-shadow var(--transition);
    display: block;
   }

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }

.filter-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-item-description {
 position: relative;
 overflow: hidden;

}
.portfolio-description-text {
  transition: transform var(--transition);
  position: absolute;
  top: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color:  rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-size: 18px;
  line-height: calc(28/18);
}
.portfolio-item:hover .portfolio-description-text,
.portfolio-item:focus .portfolio-description-text{
transform: translateY(-100%);
}
.portfolio-info {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.portfolio-title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color);
}
